body {
  font-family: Georgia, "Helvetica Neue", Helvetica, "SansForgetica",
    Merriweather;
  background-color: #444;
  color: #fff;
  margin: auto;
  align-items: center;
  padding: 3rem 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-family: "SansForgetica", "Helvetica Neue", Helvetica, Merriweather;
  font-size: 4rem;
  padding: 1rem;
  margin: 1rem 2rem;
  color: #2d00ff;
  background: #fee100;
  border-radius: 25px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Merriweather;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  padding: 1rem;
}

h3 {
  font-family: Georgia, Merriweather, Helvetica;
}

section2 h3 {
  text-align: center;
}

#download {
  padding: auto 3rem;
  align-items: center;
  margin: auto  3rem;
}

.appBrewery1, .barcelonaCode1, .JAPH1, .JPH1, .fundamentals1, .python1, .java1 {
  display: none;
}

.button {
  font-family: Georgia, Merriweather, Helvetica;
  color: #fff;
  font-size: 2rem;
  text-align: left;
  border: none;
  background: none;
  text-shadow: 2px 2px 5px #fff;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: #fff !important;
  text-decoration: none;
  text-shadow: 2px 2px 5px #fff;
}

.text-muted {
  color: #fff !important;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-family: "SansForgetica", "Helvetica Neue", Helvetica, Merriweather;
  text-align: center;
  padding: 2rem 2rem 0;
  color: #fff;
}

#rig {
  text-align: right;
}

#lef {
  text-align: left;
}

#cen {
  text-align: center;
}

#c {
 margin: auto;
  width: 75%;
  padding: 10px;
}

.bl {
  font-family: "SansForgetica", Arial, sans-serif;
  background-color: #444;
  color: #fff;
  font-weight: 900;
}

.one {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 0 15% 2em;
}

.three {
  font-family: "SansForgetica", Arial, sans-serif;
  background-color: #444;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.title {
  text-decoration-line: underline;
  text-decoration-style: double;
  padding: 2rem;
  padding-top: 0.5rem;
}

.title3 {
  text-decoration: underline;
  text-align: center;
}

.education {
  padding: 2rem;
}

.jus {
  text-align: justify;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10rem;
}

@font-face {
  font-family: SansForgetica;
  src: url(./sansforgetica-regular-webfont.woff);
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#centerm {
  padding: 5% 10%;
}

/* iframe */
.iframe {
  border: 3px solid #000;
  overflow: hidden;
  background: #fff;
}

.iframe iframe {
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}

.iframe-header {
  display: none;
}

.js .iframe-header {
  display: block;
}

.iframe-content {
  /* ipad iframe hack */
  height: 400px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.iframe-header a {
  font-size: 15px;
  color: white;
  background: #000;
  display: block;
  padding: 15px;
  text-align: center;
  border-bottom: 3px solid #131C28;
}

.iframe-header a:hover,
.iframe-header a:focus {
  background: #6A798E;
}

.iframe-full-screen .iframe-header {
  display: block;
  position: absolute;
  height: 50px;
  width: 100%;
}

.iframe-full-screen .iframe-content {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  height: auto;
}

.iframe-full-screen .iframe-header a {
  padding: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: 3px solid #131C28;
}

.iframe-full-screen body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iframe-full-screen .iframe.iframe-active {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  border: none;
}

.iframe-full-screen .iframe iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap
}

.item {
  display: inline-block;
  flex: 1 300px;
}

@media all and (max-height: 400px) {
  .iframe {
    height: 300px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.button-container-1 {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
}

.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}

.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.button-container-2 {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}

.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}

.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  margin-top: 35px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}



.button-container-3 {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  overflow: hidden;
  border: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}

.button-container-3 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}

.button-container-3 button:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 5rem auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.third {
  border-color: #fff;
  color: #fff;
  box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}
