@media screen and (max-width: 479px) {
	h1 {
  font-family: "SansForgetica", "Helvetica Neue", Helvetica, Merriweather;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem 2rem;
  color: #2d00ff;
  background: #fee100;
  border-radius: 25px;
}
	.three {
  font-family: "SansForgetica", Arial, sans-serif;
  background-color: #444;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
	#c {
 margin: auto;
  width: 60%;
  padding: 1px;
}
	.button {
  font-family: Georgia, Merriweather, Helvetica;
  color: #fff;
  font-size: 0.5rem;
  text-align: left;
  border: none;
  background: none;
  text-shadow: 2px 2px 5px #fff;
}
}

body {
  font-family: Georgia, "Helvetica Neue", Helvetica, "SansForgetica",
    Merriweather;
  background-color: #444;
  color: #fff;
  margin: auto;
  align-items: center;
  padding: 3rem 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-family: "SansForgetica", "Helvetica Neue", Helvetica, Merriweather;
  font-size: 4rem;
  padding: 1rem;
  margin: 1rem 2rem;
  color: #2d00ff;
  background: #fee100;
  border-radius: 25px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Merriweather;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  padding: 1rem;
}

h3 {
  font-family: Georgia, Merriweather, Helvetica;
}

section2 h3 {
  text-align: center;
}

#download {
  padding: auto 3rem;
  align-items: center;
  margin: auto  3rem;
}

.appBrewery1 {
  display: none;
} 

.barcelonaCode1.java1 {
  display: none;
}

.JAPH1. {
  display: none;
}

.JPH1 {
  display: none;
} 

.fundamentals1 {
  display: none;
}

.python1 {
  display: none;
} 

.java1 {
  display: none;
}

.button {
  font-family: Georgia, Merriweather, Helvetica;
  color: #fff;
  font-size: 2rem;
  text-align: left;
  border: none;
  background: none;
  text-shadow: 2px 2px 5px #fff;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: #fff !important;
  text-decoration: none;
  text-shadow: 2px 2px 5px #fff;
}

.text-muted {
  color: #fff !important;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-family: "SansForgetica", "Helvetica Neue", Helvetica, Merriweather;
  text-align: center;
  padding: 2rem 2rem 0;
  color: #fff;
}

#rig {
  text-align: right;
}

#lef {
  text-align: left;
}

#cen {
  text-align: center;
}

#c {
 margin: auto;
  width: 60%;
  padding: 10px;
}

.bl {
  font-family: "SansForgetica", Arial, sans-serif;
  background-color: #444;
  color: #fff;
  font-weight: 900;
}

.one {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 0 15% 2em;
}

.three {
  font-family: "SansForgetica", Arial, sans-serif;
  background-color: #444;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.title {
  text-decoration-line: underline;
  text-decoration-style: double;
  padding: 2rem;
  padding-top: 0.5rem;
}

.title3 {
  text-decoration: underline;
  text-align: center;
}

.education {
  padding: 2rem;
}

.jus {
  text-align: justify;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10rem;
}

@font-face {
  font-family: SansForgetica;
  src: url(./sansforgetica-regular-webfont.woff);
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#centerm {
  padding: 5% 10%;
}

/* iframe */
.iframe {
  border: 3px solid #000;
  overflow: hidden;
  background: #fff;
}

.iframe iframe {
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}

.iframe-header {
  display: none;
}

.js .iframe-header {
  display: block;
}

.iframe-content {
  /* ipad iframe hack */
  height: 400px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.iframe-header a {
  font-size: 15px;
  color: white;
  background: #000;
  display: block;
  padding: 15px;
  text-align: center;
  border-bottom: 3px solid #131C28;
}

.iframe-header a:hover,
.iframe-header a:focus {
  background: #6A798E;
}

.iframe-full-screen .iframe-header {
  display: block;
  position: absolute;
  height: 50px;
  width: 100%;
}

.iframe-full-screen .iframe-content {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  height: auto;
}

.iframe-full-screen .iframe-header a {
  padding: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: 3px solid #131C28;
}

.iframe-full-screen body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iframe-full-screen .iframe.iframe-active {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  border: none;
}

.iframe-full-screen .iframe iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap
}

.item {
  display: inline-block;
  flex: 1 300px;
}

@media all and (max-height: 400px) {
  .iframe {
    height: 300px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.button-container-1 {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
}

.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}

.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.button-container-2 {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}

.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}

.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  margin-top: 35px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}



.button-container-3 {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  overflow: hidden;
  border: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}

.button-container-3 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}

.button-container-3 button:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 5rem auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.third {
  border-color: #fff;
  color: #fff;
  box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}

.loader-wrapper{
  width:100%;
  height:100%;
  background-color: #444444;
  position: absolute;
  top:0;
  left: 0;
}
.cssload-wrap {
 
	position: absolute;
	margin:25% auto;
	left: 50%;
	margin-left: -896px;
	transform: rotateX(75deg);
}
.cssload-circle {
	position: absolute;
	float: left;
	border: 4px solid white;
	animation: bounce 0.895s infinite ease-in-out alternate;
		-o-animation: bounce 0.895s infinite ease-in-out alternate;
		-ms-animation: bounce 0.895s infinite ease-in-out alternate;
		-webkit-animation: bounce 0.895s infinite ease-in-out alternate;
		-moz-animation: bounce 0.895s infinite ease-in-out alternate;
	border-radius: 100%;
	background: transparent;
	top: -300px;
	left: -300px;
}
.cssload-circle:nth-child(1) {
	margin: 0 1180px;
	width: 40px;
	height: 40px;
	animation-delay: 60ms;
		-o-animation-delay: 60ms;
		-ms-animation-delay: 60ms;
		-webkit-animation-delay: 60ms;
		-moz-animation-delay: 60ms;
	z-index: -1;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(2) {
	margin: 0 1160px;
	width: 80px;
	height: 80px;
	animation-delay: 120ms;
		-o-animation-delay: 120ms;
		-ms-animation-delay: 120ms;
		-webkit-animation-delay: 120ms;
		-moz-animation-delay: 120ms;
	z-index: -2;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(3) {
	margin: 0 1140px;
	width: 120px;
	height: 120px;
	animation-delay: 180ms;
		-o-animation-delay: 180ms;
		-ms-animation-delay: 180ms;
		-webkit-animation-delay: 180ms;
		-moz-animation-delay: 180ms;
	z-index: -3;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(4) {
	margin: 0 1120px;
	width: 160px;
	height: 160px;
	animation-delay: 240ms;
		-o-animation-delay: 240ms;
		-ms-animation-delay: 240ms;
		-webkit-animation-delay: 240ms;
		-moz-animation-delay: 240ms;
	z-index: -4;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(5) {
	margin: 0 1100px;
	width: 200px;
	height: 200px;
	animation-delay: 300ms;
		-o-animation-delay: 300ms;
		-ms-animation-delay: 300ms;
		-webkit-animation-delay: 300ms;
		-moz-animation-delay: 300ms;
	z-index: -5;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(6) {
	margin: 0 1080px;
	width: 240px;
	height: 240px;
	animation-delay: 360ms;
		-o-animation-delay: 360ms;
		-ms-animation-delay: 360ms;
		-webkit-animation-delay: 360ms;
		-moz-animation-delay: 360ms;
	z-index: -6;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(7) {
	margin: 0 1060px;
	width: 280px;
	height: 280px;
	animation-delay: 420ms;
		-o-animation-delay: 420ms;
		-ms-animation-delay: 420ms;
		-webkit-animation-delay: 420ms;
		-moz-animation-delay: 420ms;
	z-index: -7;
	border: 4px solid rgba(255,255,255,0.69);
}
.cssload-circle:nth-child(8) {
	margin: 0 1040px;
	width: 320px;
	height: 320px;
	animation-delay: 480ms;
		-o-animation-delay: 480ms;
		-ms-animation-delay: 480ms;
		-webkit-animation-delay: 480ms;
		-moz-animation-delay: 480ms;
	z-index: -8;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(9) {
	margin: 0 1020px;
	width: 360px;
	height: 360px;
	animation-delay: 540ms;
		-o-animation-delay: 540ms;
		-ms-animation-delay: 540ms;
		-webkit-animation-delay: 540ms;
		-moz-animation-delay: 540ms;
	z-index: -9;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(10) {
	margin: 0 1000px;
	width: 400px;
	height: 400px;
	animation-delay: 600ms;
		-o-animation-delay: 600ms;
		-ms-animation-delay: 600ms;
		-webkit-animation-delay: 600ms;
		-moz-animation-delay: 600ms;
	z-index: -10;
	border: 4px solid rgba(255,255,255,0.68);
}
.cssload-circle:nth-child(11) {
	margin: 0 980px;
	width: 440px;
	height: 440px;
	animation-delay: 660ms;
		-o-animation-delay: 660ms;
		-ms-animation-delay: 660ms;
		-webkit-animation-delay: 660ms;
		-moz-animation-delay: 660ms;
	z-index: -11;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(12) {
	margin: 0 960px;
	width: 480px;
	height: 480px;
	animation-delay: 720ms;
		-o-animation-delay: 720ms;
		-ms-animation-delay: 720ms;
		-webkit-animation-delay: 720ms;
		-moz-animation-delay: 720ms;
	z-index: -12;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(13) {
	margin: 0 940px;
	width: 520px;
	height: 520px;
	animation-delay: 780ms;
		-o-animation-delay: 780ms;
		-ms-animation-delay: 780ms;
		-webkit-animation-delay: 780ms;
		-moz-animation-delay: 780ms;
	z-index: -13;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(14) {
	margin: 0 920px;
	width: 560px;
	height: 560px;
	animation-delay: 840ms;
		-o-animation-delay: 840ms;
		-ms-animation-delay: 840ms;
		-webkit-animation-delay: 840ms;
		-moz-animation-delay: 840ms;
	z-index: -14;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(15) {
	margin: 0 900px;
	width: 600px;
	height: 600px;
	animation-delay: 900ms;
		-o-animation-delay: 900ms;
		-ms-animation-delay: 900ms;
		-webkit-animation-delay: 900ms;
		-moz-animation-delay: 900ms;
	z-index: -15;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(16) {
	margin: 0 880px;
	width: 640px;
	height: 640px;
	animation-delay: 960ms;
		-o-animation-delay: 960ms;
		-ms-animation-delay: 960ms;
		-webkit-animation-delay: 960ms;
		-moz-animation-delay: 960ms;
	z-index: -16;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(17) {
	margin: 0 860px;
	width: 680px;
	height: 680px;
	animation-delay: 1020ms;
		-o-animation-delay: 1020ms;
		-ms-animation-delay: 1020ms;
		-webkit-animation-delay: 1020ms;
		-moz-animation-delay: 1020ms;
	z-index: -17;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(18) {
	margin: 0 840px;
	width: 720px;
	height: 720px;
	animation-delay: 1080ms;
		-o-animation-delay: 1080ms;
		-ms-animation-delay: 1080ms;
		-webkit-animation-delay: 1080ms;
		-moz-animation-delay: 1080ms;
	z-index: -18;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(19) {
	margin: 0 820px;
	width: 760px;
	height: 760px;
	animation-delay: 1140ms;
		-o-animation-delay: 1140ms;
		-ms-animation-delay: 1140ms;
		-webkit-animation-delay: 1140ms;
		-moz-animation-delay: 1140ms;
	z-index: -19;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(20) {
	margin: 0 800px;
	width: 800px;
	height: 800px;
	animation-delay: 1200ms;
		-o-animation-delay: 1200ms;
		-ms-animation-delay: 1200ms;
		-webkit-animation-delay: 1200ms;
		-moz-animation-delay: 1200ms;
	z-index: -20;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(21) {
	margin: 0 780px;
	width: 840px;
	height: 840px;
	animation-delay: 1260ms;
		-o-animation-delay: 1260ms;
		-ms-animation-delay: 1260ms;
		-webkit-animation-delay: 1260ms;
		-moz-animation-delay: 1260ms;
	z-index: -21;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(22) {
	margin: 0 760px;
	width: 880px;
	height: 880px;
	animation-delay: 1320ms;
		-o-animation-delay: 1320ms;
		-ms-animation-delay: 1320ms;
		-webkit-animation-delay: 1320ms;
		-moz-animation-delay: 1320ms;
	z-index: -22;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(23) {
	margin: 0 740px;
	width: 920px;
	height: 920px;
	animation-delay: 1380ms;
		-o-animation-delay: 1380ms;
		-ms-animation-delay: 1380ms;
		-webkit-animation-delay: 1380ms;
		-moz-animation-delay: 1380ms;
	z-index: -23;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(24) {
	margin: 0 720px;
	width: 960px;
	height: 960px;
	animation-delay: 1440ms;
		-o-animation-delay: 1440ms;
		-ms-animation-delay: 1440ms;
		-webkit-animation-delay: 1440ms;
		-moz-animation-delay: 1440ms;
	z-index: -24;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(25) {
	margin: 0 700px;
	width: 1000px;
	height: 1000px;
	animation-delay: 1500ms;
		-o-animation-delay: 1500ms;
		-ms-animation-delay: 1500ms;
		-webkit-animation-delay: 1500ms;
		-moz-animation-delay: 1500ms;
	z-index: -25;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(26) {
	margin: 0 680px;
	width: 1040px;
	height: 1040px;
	animation-delay: 1560ms;
		-o-animation-delay: 1560ms;
		-ms-animation-delay: 1560ms;
		-webkit-animation-delay: 1560ms;
		-moz-animation-delay: 1560ms;
	z-index: -26;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(27) {
	margin: 0 660px;
	width: 1080px;
	height: 1080px;
	animation-delay: 1620ms;
		-o-animation-delay: 1620ms;
		-ms-animation-delay: 1620ms;
		-webkit-animation-delay: 1620ms;
		-moz-animation-delay: 1620ms;
	z-index: -27;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(28) {
	margin: 0 640px;
	width: 1120px;
	height: 1120px;
	animation-delay: 1680ms;
		-o-animation-delay: 1680ms;
		-ms-animation-delay: 1680ms;
		-webkit-animation-delay: 1680ms;
		-moz-animation-delay: 1680ms;
	z-index: -28;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(29) {
	margin: 0 620px;
	width: 1160px;
	height: 1160px;
	animation-delay: 1740ms;
		-o-animation-delay: 1740ms;
		-ms-animation-delay: 1740ms;
		-webkit-animation-delay: 1740ms;
		-moz-animation-delay: 1740ms;
	z-index: -29;
	border: 4px solid rgba(255,255,255,0.7);
}
.cssload-circle:nth-child(30) {
	margin: 0 600px;
	width: 1200px;
	height: 1200px;
	animation-delay: 1800ms;
		-o-animation-delay: 1800ms;
		-ms-animation-delay: 1800ms;
		-webkit-animation-delay: 1800ms;
		-moz-animation-delay: 1800ms;
	z-index: -30;
	border: 4px solid rgba(255,255,255,0.7);
}


@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(400px);
	}
}

@-o-keyframes bounce {
	0% {
		-o-transform: translateY(0px);
	}
	100% {
		-o-transform: translateY(400px);
	}
}

@-ms-keyframes bounce {
	0% {
		-ms-transform: translateY(0px);
	}
	100% {
		-ms-transform: translateY(400px);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(400px);
	}
}

@-moz-keyframes bounce {
	0% {
		-moz-transform: translateY(0px);
	}
	100% {
		-moz-transform: translateY(400px);
	}
}
