.one {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
	margin: 0 15% 2em;
}
.two {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	margin: 0 15% 2em;
}

h1 {
font-family: 'SansForgetica', Arial, sans-serif;
font-weight:700;
font-style:normal;
font-size: 4rem;
}
.title3 {
  text-decoration: underline;
  text-align: center;
}
h2 {
  text-decoration: underline;
}
@font-face {
  font-family: SansForgetica;
  src: url(./sansforgetica-regular-webfont.woff);
  font-weight: bold;
}
.bl {
  font-family: 'SansForgetica', Arial, sans-serif;
  background-color: black;
  color: white;
  font-weight: 900;
}
footer {
  text-align: center;
  padding-bottom: 2em;
}
a {
  background-color: black;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 5px white;
}
a:hover {
  text-decoration: underline;
}
.title {
  text-shadow: 2px 2px 5px white;
  font-weight: 900;
  text-decoration-line: overline;
  text-decoration-style: double;
  font-size: 5rem;
  margin-top: 2rem;
}
.jus {
  text-align: justify;
}
#rig {
  text-align: right;
}
#lef {
  text-align: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10em
  
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
